/* Reponsive */
@media screen and (max-width: 800px) {
    .headerPrincipal {
        margin: 7% 0 2% 6%;
    }

    .contenidoPrincipal {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .contenidoPrincipal .panelIngreso{
        height: 60%;
        width: 90%;
        align-self: center;
    }
    .panelIngreso .container{
        height: 450px;
        margin-bottom: 6%;
    }

    .panelIngreso-button{
        margin-bottom: 0;
    }
    
    .contenidoPrincipal .panelEgreso {
        height: 40%;
        width: 90%;
        align-self: center;
    }

    .panelEgreso .container {
        height: 350px;
    }

    .panelEgreso-textArea{
        width: 100%;
        height: 70%;
        background-image: none;
    }

    .panelEgreso-mensaje{
        margin-top: 0;
        width: 500px;
    }

    .panelEgreso-buttonCopiar {
        width: 81%;
        margin-bottom: 8%;
    }

    .rodapePrincipal .container {
        height: 100px;
        margin-top: 0;
    }
    .container .rodapePrincipal-link{
        margin-left: 5%;
    }
}