/* Reponsive */
@media screen and (max-width: 800px) {
    .contenidoPrincipal {
        flex-direction: column;
        width: 100%;
    }
    
    .contenidoPrincipal .panelIngreso{
        width: 90%;
        align-self: center;
    }
    
    .panelIngreso .container{
        height: 750px;
        margin-bottom: 64px;
    }

    .panelIngreso-button{
        margin-bottom: 0;
    }

    .panelIngreso-textArea,.panelIngreso-infoIngreso,.panelIngreso-button {
        width: 99%;
        align-self: flex-start;
    }

    .contenidoPrincipal .panelEgreso {
        width: 90%;
        align-self: center;
    }

    .panelEgreso .container {
        height: 130px;
    }

    .panelEgreso-textArea{
        background-image: none;
    }

    .panelEgreso-mensaje{
        margin: 32px 0 0 0;
    }

    .panelEgreso-buttonCopiar {
        width: 90%;
    }

    .rodapePrincipal .container {
        height: 100px;
        margin-top: 0;
    }

    .rodapePrincipal-author-link {
        margin-left: 0;
    }
}