* {
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.headerPrincipal{
    margin: 2% 94% 2% 4%;
}

.contenidoPrincipal{
    height: 650px;
    display: flex;
    justify-content: space-around;
}

.panelIngreso{
    width: 60%;
}

.panelIngreso .container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panelIngreso-textArea {
    height: 65%;
    padding: 3% 3%;
    font-size: 32px;
    border: none;
    border-radius: 20px;
    resize: none;
    color: #0A3871;
}
::placeholder { color: #0A3871;}
.textoInicial:focus { outline: none;}

.panelIngreso-infoIngreso {
    display: flex;
    align-items: center;
    gap: 4px;
}

.panelIngreso-infoIngreso-subtitulo {
    font-size: 16px;
    color: #343A40;
}

.panelIngreso-infoIngreso .fa-solid {
    color: #343A40;
}

.panelIngreso-button {
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.panelIngreso-button-Encriptar {
    width: 40%;
    height: 50px;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.panelIngreso-button-Desencriptar {
    width: 40%;
    height: 50px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    color: #0A3871;
    cursor: pointer;
}.btn-Desencriptar:active{ background: none; }

.panelEgreso .container {
    height: 600px;
    display: flex;
    justify-content: center;
}

.panelEgreso-textArea{
    padding: 5% 5%;
    font-size: 24px;
    resize: none;
    background: #FFFFFF ;
    background-image: url("../assets/icons/Muñeco.svg");
    background-repeat: no-repeat; /* La imagen solo se va a ver una sola vez */
    background-position: center 20%;
    color: #0A3871;
    border: none;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}.resultado:focus{ outline: none; } /*focus{} activas las propiedades una vez el usuario le da click al elemento*/

.panelEgreso-mensaje{
    margin-top: 15%;
    align-self: center;
    position: absolute;
    background: none;
}

.panelEgreso-mensaje-validacion{
    display: none;
    margin: 15px 0;
    background: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #343A40;
    align-self: center;
}

.panelEgreso-mensaje-peticion{
    display: none;
    font-size: 16px;
    background: none;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #495057;
    align-self: center;
}
.panelEgreso-buttonCopiar {
    width: 200px;
    height: 50px;
    margin-bottom: 2%;
    align-self: flex-end;
    display: none;
    position: absolute;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    color: #0A3871;
    cursor: pointer;
}.panelEgreso-buttonCopiar:active{ background: none; }

.rodapePrincipal .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 100px;
    margin-top: 20px;
    background: #0A3871;
}

.container .rodapePrincipal-copyrigth{
    font-size: 16px;
    text-align: start;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background: none;
    color: #FFFFFF;
}
.container .rodapePrincipal-link{
    display: flex;
    background: none;
}

.rodapePrincipal-link-socialMedia{
    margin: 0 10px;
    background: transparent;
}
.rodapePrincipal-link-socialMedia .fa-brands{
    font-size: 40px;
    background: transparent;
    color: #FFFFFF;
}